<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="test1">
	<h4>商品一覧</h4>
		<form th:action="@{/ex06/add}" method="post">
		<span th:text="name">手帳</span>  
		<span th:text="price">1000</span>円  
		<button>カートへ</button>
		</form>
</div>
<div class="test2">
	<h4>ショッピングカート</h4>
		<form th:action="@{/ex06/delete}" method="post">
		<span th:text="name">手帳</span>  
		<span th:text="price">1000</span>円  
		<button>削除</button>
		</form>
</div>
</body>
</html>